.calculator {
    margin: 0 auto;
    border-radius: 10px;
    border: solid 5px black;
    color: #28c41f;
    background-color: #635959;
    height: 90vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 0.5rem;
}


